.mf{visibility: hidden; z-index:1; color:#919191; font-size:14px}
.mf * {
	outline:none;
	border:none;
	padding:0;
	margin:0;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select:none;
	-o-user-select:none
}
.mf div.loader{
	position:absolute;
	text-align:center;
	z-index:10000;
	margin:0 auto;
	top:45%;
	width:100%;
	background:url(img/ajax_loader.gif) no-repeat 50% 0;
	padding:50px 0;
}
.mf div.caption {
	position:absolute;
	text-align:center;
	z-index:98;
	margin: 0px auto 8px;
	bottom:22px;
	width:100%;
}
.mf div.mfNav{
	position:absolute;
	z-index:99;
	margin:0 auto;
	text-align:center;
	width:100%;
	bottom:20px;
	font-size:1px;
	line-height:1px;
	width:100%;
}
.mf div.autoPlayCon{
	float:left;
	width:10%;
	padding-left:3%;
	height:16px;
}
.mf a.play, .mf a.stop{
	width:18px;
	height:16px;
	float:left;
	cursor:pointer;
}
.mf a.play{
	background:url(img/play.png) no-repeat top right;
}
.mf a.play:hover{
	background-position:bottom right;
}
.mf a.stop{
	background:url(img/play.png) no-repeat top left;
}
.mf a.stop:hover{
	background-position:bottom left;
}
.mf div.sliderCon{
	margin-top:0px;
	float:left;
	width:74%;
}
.mf a.sliderNext{
	background:url(img/left.png) no-repeat top left;
}
.mf a.sliderNext:hover{
	background-position:bottom left;
}
.mf a.sliderPrev{
	background:url(img/right.png) no-repeat top right;
}
.mf a.sliderPrev:hover{
	background-position: right bottom;
}
.mf a.sliderNext, a.sliderPrev{
	text-decoration:none;
	width:25px;
	height:16px;
	cursor:pointer;
	float:left;
}
.mf div.resizeCon{
	float:right;
	width:10%;
	padding-right:3%;
	height:16px;
}
.mf a.resize{
	width:25px;
	height:16px;
	float:right;
	cursor:pointer;
	background:url(img/resize.png) no-repeat left top;
}
.mf a.resize:hover{
	background-position: right top;
}
.mf div.slider{
	background:url(img/middle.png) repeat-x;
	height:16px;
	position:relative;
	text-align:left;
	float:left;
}
.mf div.knob{
	height:16px;
	background:url(img/middle-slider.png) no-repeat right 1px;
}
.mf div.knob:hover{
	height:16px;
	background-position: right -15px ;
}
.mf div.knobleft{
	background:url(img/left-slider.png) no-repeat left 1px;
	width:12px;
	height:16px;
}
qwert
{
	background-image: url(qweww);
	background-repeat: no-repeat;
	background-position: left top;
}